* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#divBusca{
    background-color:#E0EEEE;
    border:solid 2px #5F9EA0;
    border-radius:10px;
    width:300px;
    height:32px;
    display: flex;
    justify-content: space-between;
  }
  
  #txtBusca{
    
    background-color:transparent;
    padding-left:5px;
    font-size:18px;
    border:none;
    height:100%;
    width:191px;
  }
  
  #btnBusca{
    border:none;
    float:left;
    height:32px;
    border-radius:0 7px 7px 0;
    width:70px;
    font-weight:bold;
    background:#5F9EA0;
  }
  
  #divBusca img{
    width:10%;
    height: 50%;
  }